<!DOCTYPE html>
<html>
  <head>
    <title>Bayes Hackathon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
  <script data-main="js/main" src="/static/vendor.js"></script>
</html>
