<!DOCTYPE html>
<html>
  <head>
    <title>Bayes Hackathon</title>
    <link rel="stylesheet" href="/js/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
    <script data-main="js/main" src="js/libs/requirejs/require.js"></script>

  </head>
  <body>
    <div id="map"></div>
    <div id="main">
      <div id="button-overlay">
        <button class="btn btnDefault mapToggle state selected" data-key="marker:cluster_label-mid"><img src="/images/clustericon.png" />Cluster 1 : State-Funded</button>
        <button class="btn btnDefault mapToggle private selected" data-key="marker:cluster_label-high"><img src="/images/clustericon.png" />Cluster 2 : Private Owned</button>
        <button class="btn btnDefault mapToggle low-income selected" data-key="marker:cluster_label-low"><img src="/images/clustericon.png" />Cluster 3 : Low Income</button>
      </div>
      <div id="navigation">
        <form id="search-form">
          <ul class="search">
            <li><input id="search-input" type="text" value="94107" placeholder="94107" maxlength="5" /></li>
            <li><input type="image" src="/images/searchicon.png" /></li>
          </ul>
        </form>
        <ul class="tabs" role="tablist">
          <li class="active">
            <a class="tabs-toggle oldpeople" href="#oldpeople" role="tab" data-toggle="tab"></a>
          </li>
          <li>
            <a class="tabs-toggle house" href="#house" role="tab" data-toggle="tab"></a>
          </li>
          <li>
            <a class="tabs-toggle warning" href="#warning" role="tab" data-toggle="tab"></a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div id="content" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="oldpeople">
          <h3>Old people</h3>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="house">
          <ul class="checkboxlist">
            <li class="checkbox">
              <label>
                <input type="checkbox" class="mapToggle" data-key="heatmap:cost_self_pay" />
                Self pay
              </label>
            </li>
            <li class="checkbox">
              <label>
                <input type="checkbox" class="mapToggle" data-key="heatmap:net_income_margin" />
                Income margin
              </label>
            </li>
            <li class="checkbox">
              <label>
                <input type="checkbox" class="mapToggle" data-key="heatmap:num_beds" />
                Number of beds
              </label>
            </li>
            <li class="checkbox">
              <label>
                <input type="checkbox"  class="mapToggle" data-key="heatmap:quality" />
                Quality
              </label>
            </li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="warning">
          <h3>Warning</h3>
        </div>
        <div id="congress">
          <h3>Contact local representatives:</h3>
          <p class="name"></p>
          <p class="phone"></p>
          <a class="tweet btn btnDefault" href="https://twitter.com/intent/tweet?screen_name=" target="_blank">Send a Tweet</a>
      </div>
      </div>
    </div>
    <div id="footer">
      <ul class="filter">
        <li><a href="#">-20 Years</a></li>
        <li class="active"><a href="#">Now</a></li>
        <li><a href="#">+20 Years</a></li>
      </ul>
    </div>
  </body>
</html>
