<!DOCTYPE html>
<html>
  <head>
    <title>Bayes Hackathon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-main="js/main" src="js/libs/requirejs/require.js"></script>
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
