@font-face {
  font-family: Dinot;
  src: url('/fonts/DINOT-Regular.otf') format("opentype");
}

@font-face {
  font-family: Dinot Bold;
  src: url('/fonts/DINOT-Bold.otf') format("opentype");
}

@font-face {
  font-family: Dinot Light;
  src: url('/fonts/DINOT-Light.otf') format("opentype");
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Dinot;
}

body {
  margin: 0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}

.hide {
  display: none;
}

#map {
  width: 100%;
  height: 100%;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(255,255,255, 0.8);
}

#button-overlay {
  position: absolute;
  margin-left: -320px;
  margin-top: 20px;
}

#button-overlay button {
  display: block;
  margin-bottom: 4px;
  width: 260px;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  opacity: 0.2;
  font-weight: normal;
  font-family: Dinot Light;
}

#button-overlay button.selected {
  opacity: 0.9;
}

#button-overlay .state {
  background-color: #5A797E;
}

#button-overlay .private {
  background-color: #EA9B81;
}

#button-overlay .low-income {
  background-color: #776E87;
}

#button-overlay img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px;
}

#button-overlay img {
  width: 15px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px;
}

#footer {
  position: absolute;
  bottom: 0;
  z-index: 99999999;
  background-color: #EBEBEB;
  border-top: 4px solid #000;
  width: 100%;
  height: 55px;
  text-align: center;
  text-transform: uppercase;
  font-family: Dinot;
}

#footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  width: 100%;
}

#footer li {
  display: inline-block;
  width: 20%;
  margin-top: 15px;
}

#footer .filter li:after {
  content: url('/images/timetriangle.png');
  position: relative;
  z-index: 100000;
  top: -42px;
  display: block;
  visibility: hidden;
}

#footer .filter li.active:after {
  content: url('/images/timetriangle.png');
  position: relative;
  z-index: 100000;
  top: -42px;
  display: block;
  visibility: visible;
}

#footer a {
  color: #000;
}

#footer a:hover {
  text-decoration: none;
}

#navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  float: left;
  margin-right: 4px;
}

#search-form {
  float: left;
}

#navigation li {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: inline-block;
}

#navigation .search {
  width: 260px;
  height: 68px;
  background-color: #92aec3;
}

#navigation .search input[type="text"] {
  font-family: Dinot Bold;
  border: 0;
  font-size: 36px;
  width: 150px;
  background-color: #92aec3;
  color: #3c5364;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: -2px;
}

#navigation .search input[type="image"] {
  display: block;
  top: 20px;
  position: absolute;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

.tabs-toggle {
  width: 35px;
  height: 35px;
  padding: 20px;
  padding-top: 0;
  display: block;
}

.tabs-toggle.oldpeople {
  background: url('/images/oldpeople_icon.png') 0 0 no-repeat;
}

li.active .tabs-toggle.oldpeople {
  background: url('/images/oldpeople_icon_active.png') 0 0 no-repeat;
}

.tabs-toggle.house {
  background: url('/images/house_icon.png') 0 0 no-repeat;
}

li.active .tabs-toggle.house {
  background: url('/images/house_icon_active.png') 0 0 no-repeat;
}

.tabs-toggle.warning {
  background: url('/images/warning_icon.png') 0 0 no-repeat;
}

li.active .tabs-toggle.warning {
  background: url('/images/warning_icon_active.png') 0 0 no-repeat;
}

#navigation .tabs {
  height: 68px;
  background-color: #EBEBEB;
  margin-right: 0;
}

#navigation .tabs li {
  padding: 20px;
  padding-top: 2px;
}

.tab-pane {
  padding: 30px 50px;
}

.checkboxlist {
  list-style: none;
  padding-left: 0;
}

.checkboxlist li {
  font-size: 16px;
  margin-bottom: 15px;
}